.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.7%;
    width: 100%;
    background-color: rgb(239, 239, 239);
}
.main-left {
    width: 45%;
    background-color: rgb(255, 255, 255);
    border: 1px ridge;
    border-radius: 8px;
    margin : 2%;
    padding: 2%
}
.main-right {
    width: 23%;
    background-color: rgb(222, 231, 228);
    border-radius: 8px;
    margin: 1.5%;
    padding: 1.5%;
    border-bottom: 1px solid #eef1f5;
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 16px;
}
.profile-avatar img{
    width: 84px;
    height: 84px;
    border-radius: 50%;
}